@using GEE_Web
@inherits System.Web.Mvc.WebViewPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid border">
    <div class="row">
        <div id="toastmsg"><p class="yellow">fill all mandatory feilds (*)..</p></div>

        <div class="col-md-12 border-left p-3 bg-light">
            <h5 class=" pb-2 text-center text-uppercase font-weight-bold">ROOM INFO</h5>
            <div class="mb-3">
                <div class="mb-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">@Resource.Enquiry1002lblLibrary</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@Resource.Enquiry1002lblData</li>
                        </ol>
                    </nav>
                </div>

                <div class="row bg-white mx-auto py-2 mb-2">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <h4 class="master-table-title"><i class="fa fa-plus-circle" aria-hidden="true"> </i> @Resource.GEE1115LBLHeading</h4>
                        <hr />
                        <label hidden="hidden" id="RoomMaster_ID"></label>

                        <div class="form-group form-group-sm">
                            <label class="control-label">@Resource.GEE1115LBLBuildingsinfo</label>
                            <select class="form-control form-control-sm" placeholder="Building info" id="GEE1115mdBuildingsinfo">
                                <option>@Resource.GEE1115LBLSelect</option>
                            </select>
                        </div>
                        <div class="form-group form-group-sm">
                            <label class="control-label">@Resource.GEE1115LBLCode</label>
                            <input class="form-control form-control-sm" type="text" placeholder="@Resource.GEE1115LBLCode" id="GEE1115mdCode">
                        </div>
                        <div class="form-group form-group-sm">
                            <label class="control-label">@Resource.GEE1115LBLName</label>
                            <input class="form-control form-control-sm" type="text" placeholder="@Resource.GEE1115LBLName" id="GEE1115mdName">
                        </div>
                        <div class="form-group form-group-sm">
                            <label class="control-label">@Resource.GEE1115LBLSeatingCapacity</label>
                            <input class="form-control form-control-sm" type="text" placeholder="@Resource.GEE1115LBLSeatingCapacity" id="GEE1115mdSeatingCapacity">
                            <span id="errmsgSeat" class="text-danger" style="display:none;" >Digits Only</span>
                        </div>
                        <div class="form-group form-group-sm">
                            <label class="control-label">@Resource.GEE1115LBLGeoCoordinates</label>
                            <input class="form-control form-control-sm" type="text" placeholder="@Resource.GEE1115LBLGeoCoordinates" id="GEE1115mdGeoCoordinates">
                        </div>
                        <div class="form-group form-group-sm">
                            <label class="control-label " for="@Resource.GEE1115LBLRemark">
                                @Resource.GEE1115LBLRemark
                            </label>
                            <textarea class="form-control form-control-sm" cols="20" id="GEE1115mdRemark" name="remark" rows="2"></textarea>
                        </div>
                        <div class="form-group">
                            <div>
                                @*<button class="mybtndark" id="Add"><i class="far fa-plus-circle mr-2"></i>@Resource.GEE1115LBLbtnAdd</button>*@
                                <button class="mybtndark" id="Add"><i class="far fa-plus-circle mr-2"></i>@Resource.GEE1115LBLbtnCancel</button>
                                <button class="mybtndark" id="Save"><i class="far fa-save mr-2"></i>@Resource.GEE1115LBLbtnSave</button>
                                <button class="mybtndark" id="Update" hidden="hidden"><i class="fas fa-check mr-2"></i></i>@Resource.GEE1115lblbtnUpdate</button>
                                <button class="mybtndark" id="Delete" hidden="hidden"><i class="fas fa-check mr-2"></i></i>@Resource.GEE1115lblbtnDelete</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8 col-sm-8 col-xs-12">
                        @*<div class="row">
                            <div class="col-lg-4 col-sm-12 col-xs-12">
                                <div class="form-group form-group-sm">
                                    <select class="form-control form-control-sm" placeholder="@Resource.GEE1115GRPhdr">
                                        <option>@Resource.GEE1510GRPhdr</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-12">
                                <button class="btn btn-primary btn-sm"><i class="fa fa-refresh" aria-hidden="true" id="btnsearch"></i></button>
                            </div>
                        </div>
                        <hr />
                        *@
                        <div class="table-responsive">
                                <table id="tblRoomdetails" class="table table-striped table-bordered table-sm table-hover" style="width:100%"></table>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/scripts/devscripts/School/Room.js"></script>
<script src="~/Scripts/DevScripts/Common/Common.js"></script>

